@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.schedule-title {
  @apply text-white text-3xl font-body font-bold;
}
.schedule-location {
  @apply text-white text-xl font-body font-bold;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Font */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/*');
}
@font-face {
  font-family: 'Poppins-Thin';
  src: url('/fonts/Poppins/Poppins-Thin.ttf');
}

/* Your own custom utilities */
